<p id="notice"><%= notice %></p>

<h1>Produce</h1>

<section>
  <% @produce_items.each do |produce|  %>
    <p><%= produce.name %></p>
    <p><%= produce.category %></p>
    <p><%= link_to 'show', produce %></p>
  <% end %>
</section>
