<p id="notice"><%= notice %></p>

<h1>Produce</h1>

<table>
    <% @produce_items.find_each do |produce|  %>
      <tr>
        <td><%= I18n.t("produce_items.names.#{produce.name}") %></td>
        <td><%= produce.category %></td>
        <td><%= link_to 'show', produce %></td>
      </tr>
    <% end %>
</table>
