<p id="notice"><%= notice %></p>

<h1>Produce</h1>

<table>
    <% @produce_items.each do |produce|  %>
      <tr>
        <td><%= produce.name_with_whitespace %></td>
        <td><%= produce.category %></td>
        <td><%= link_to 'show', produce %></td>
      </tr>
    <% end %>
</table>
