<p id="notice"><%= notice %></p>

<h1> <%= @produce_item.readable_name %> </h1>
<h3> months </h3>

<% @produce_item.item_seasons.each do |season|  %>
  <p><%= formatted_month_name(season.month_index)%></p>
<% end %>

<%= link_to 'Back', produce_items_path %>
