<div class="content background-color-blue">
  <h1 class="page__title banner-small"> <%= formatted_month_name(@item_season.month_index).capitalize %> </h1>

  <%= link_to I18n.t("action.back"), :back, class: "link_action back color-yellow" %>

  <div class="card-holder">
    <% @item_season_produces.find_each do |produce| %>
      <div class="card">
        <div class="card-inner">
          <h4 class="produce-table__name"><%= link_to I18n.t("produce_items.names.#{produce.name}").capitalize, produce, class: "link_action"  %></h4>
        </div>
          <td class="produce-table__category"><%= I18n.t("produce_items.categories.#{produce.category}") %></td>
      </div>
    <% end %>
  </div>

</div>
