<section class="banner-hero">
  <div class="script-md"><%= I18n.t('root.about') %></div>
</section>

<section class="banner-search">
  <div>
    <h3>Procure pelo</h3>
  </div>
  <div class="button-holder">
    <div class="red-outline script-lg"><%= link_to I18n.t('action.month').capitalize, item_seasons_path, class: 'link_action' %></div>
    <div class="red-outline script-lg"><%= link_to I18n.t('action.produce').capitalize, produce_items_path, class: 'link_action' %></div>
  </div>
</section>
