<h1><%= I18n.t('root.title') %></h1>
<h3><%= I18n.t('root.about') %></h3>

<p><%= link_to I18n.t('action.search_by_month').capitalize, item_seasons_path, class: 'link_action' %></p>
<p><%= link_to I18n.t('action.search_by_produce').capitalize, produce_items_path, class: 'link_action' %></p>
