html {
  --light-beige: #E8DBB3;
  --yellow: #FFD96A;
  --red: #D92A45;
  --light-blue: #7387EB;
  --blue: #2347EB;
}

.yellow-txt {
  color: var(--yellow);
}

.red-txt {
  color: var(--red);
}

.blue-txt {
  color: var(--blue);
}

.white-txt {
  color: white;
}
