html {
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
}

h1 {
  font-family: eds-market-bold-slant, sans-serif;
  font-size: 48pt;
}

h2, h3, h4 {
  font-weight: 900;
  text-transform: uppercase;
}

h5, h6 {
  font-weight: 600;
  text-transform: uppercase;
}

p {
  font-weight: 600;
  font-size: 16pt;
  line-height: 22pt;
}

h2 {
  font-size: 32pt;
}

h3 {
  font-size: 20pt;
}

h4, h5 {
  font-size: 16pt;
}

h6 {
  font-size: 12pt;
}

.script-md {
  font-family: eds-market-bold-slant, sans-serif;
  font-size: 34pt;
  line-height: 46pt;
}

.script-lg {
  font-family: eds-market-bold-slant, sans-serif;
  font-size: 40pt;
}

@media (width <= 300px) {
  .script-md {
    font-size: 26pt;
    line-height: 38pt;
  }
}
