.rotate-zero {
  transition:  0.5s ease-in-out;
}

.rotate-zero:hover {
  transform: rotate(10deg);
}

.rotate-minus-5 {
  transform: rotate(-5deg);
  transition:  0.5s ease-in-out;
}

.rotate-minus-5:hover {
  transform: rotate(0);
}

.rotate-minus-10 {
  transform: rotate(-10deg);
  transition:  0.5s ease-in-out;
}

.rotate-minus-10:hover {
  transform: rotate(5deg);
}

.rotate-minus-15 {
  transform: rotate(-15deg);
  transition:  0.5s ease-in-out;
}

.rotate-minus-15:hover {
  transform: rotate(0deg);
}

.rotate-plus-5 {
  transform: rotate(5deg);
  transition:  0.5s ease-in-out;
}

.rotate-plus-5:hover {
  transform: rotate(-10deg);
}

.rotate-plus-10 {
  transform: rotate(10deg);
  transition:  0.5s ease-in-out;
}

.rotate-plus-10:hover {
  transform: rotate(-5deg);
}

.rotate-plus-15 {
  transform: rotate(15deg);
  transition:  0.5s ease-in-out;
}

.rotate-plus-15:hover {
  transform: rotate(0deg);
}
