/* paddings */
.p-top-s {
  padding-top: 15px;
}

.p-top-m {
  padding-top: 30px;
}

.p-top-l {
  padding-top: 60px;
}

.p-bottom-s {
  padding-bottom: 15px;
}

.p-bottom-m {
  padding-bottom: 30px;
}

.p-bottom-l {
  padding-bottom: 60px;
}

.p-sides-s {
  padding-left: 15px;
  padding-right: 15px;
}

.p-sides-m {
  padding-left: 30px;
  padding-right: 30px;
}

.p-sides-l {
  padding-left: 60px;
  padding-right: 60px;
}

/* margins */
.m-top-s {
  margin-top: 15px;
}

.m-top-m {
  margin-top: 30px;
}

.m-top-l {
  margin-top: 60px;
}

.m-bottom-s {
  margin-bottom: 15px;
}

.m-bottom-m {
  margin-bottom: 30px;
}

.m-bottom-l {
  margin-bottom: 60px;
}
