.banner-hero {
  background-image: url("https://dm2305files.storage.live.com/y4mLTlsAOlVIbxayA4OuTrKgh5bhSouUHtvsZcoX-mh1AaD2CDTNG8b6-p5_1gwZML9FEpMOMjRKWGBskNVzDP1NtaFq4a7_R6D39cT8U7pMYOz3ys19QgQZwH4g6C0OGWv-CHTkXKYN58IpkKDjveBeCRT083wGENMnR7KsdfQ1T7xZdp0YXcj2fvBJiI9ZXVo?width=2482&height=3475&cropmode=none");
  background-color: var(--color--light-beige);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

.banner-hero__txt {
  width: 60vw;
}

.banner-buttons {
  background-color: var(--color--red);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.banner-about {
  background-color: var(--color--blue);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: var(--spaces-size-m);
}

.banner-about-img {
 max-width: 20vw;
}

@media (width <= 500px) {
  .banner-about-img {
    display: none;
  }

  .banner-about__txt {
    padding: 0 var(--spaces-size-m);
  }
}
