<section class="footer p-top-s p-bottom-s p-sides-m">
  <div class="logo">
    <%= I18n.t('footer.title') %>
  </div>
  <div class="nav-right">
    <%= mail_to "manu.vasconcelos@gmail.com", I18n.t('footer.contact'), class: 'link_action' %>
  </div>
</section>
