.button {
  width: 200px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button--color--yellow {
  background-color: var(--color--yellow);
  outline: 6px solid var(--color--red);
  outline-offset: -10px;
}
