.button {
  width: 20rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button--yellow {
  background-color: var(--color--yellow);
  outline: 6px solid var(--color--red);
  outline-offset: -10px;
}
