.card {
  display: flex;
}

.card-inner {
  background-color: var(--color--yellow);
  min-height: 10rem;
  width: 30rem;
  padding: var(--spaces-size-m);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: 0.6rem solid var(--color--red);
  outline-offset: -1rem;
  text-align: center;
}

.produce-category {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  font-family: eds-market-bold-slant, sans-serif;
  color: var(--color--yellow);
  font-size: var(--script-size-xs);
  letter-spacing: 0.15rem;
}

.produce-name a, .produce-name a:visited {
  color: black;
  text-decoration-color: var(--color--red);
}

.card-inner__month-name {
  font-family: eds-market-bold-slant, sans-serif;
  font-size: var(--script-size-xs);
  color: var(--color--red);
  line-height: 1.5;
}
