.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color--yellow);
  position: fixed;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 10rem;
}

.logo {
  font-family: eds-market-bold-slant, sans-serif;
  font-size: var(--font-size-s);
  line-height: 1.25;
  color: var(--color--blue);
  text-align: center;
}

.nav-right {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--color--blue);
  font-size: var(--font-size-xs);
}

.nav-right p {
  font-weight: 900;
  font-size: var(--font-size-xs);
  line-height: 1.15;
  display: inline;
}

@media (width <= 500px) {
  .nav-right {
    display: block;
    text-align: right;
  }

  .nav-right p {
    display: block;
  }

  .nav-right a {
    padding: 0;
    display: block;
  }
}
