name: "Tests: RSpec"
on: [push]
env:
  RAILS_ENV: test
  PRODUCE_IN_SEASON_DATABASE_USERNAME: 'postgres'
  PRODUCE_IN_SEASON_DATABASE_PASSWORD: 'postgres'
jobs:
  rspec:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options:
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v3
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: Create database
        run: bundle exec rails db:create
      - name: Load schema
        run: bundle exec rails db:schema:load
      - name: Run tests
        run: bundle exec rspec
